:root {
  --brand-dark-gray: #f0f0f0;
  --brand-white: #fff;
  --brand-light-gray: #f6f6f6;
  --brand-turquoise: #c5f5fa;
  --brand-black: #000;
  --brand-red: #ff5b5a;
  --container-width: 1170px;
}
body {
  background-color: var(--brand-white);
}
.container {
  max-width: var(--container-width);
  margin: 0 auto;
}
.app-header {
  background-color: var(--brand-light-gray);
}
.flex-it {
  display: flex;
  justify-content: space-between;
}
a:link,
a:visited {
  color: var(--brand-black);
  text-decoration: none;
}
.logo {
  width: 122px;
}

.account-nav li,
.main-navigation li {
  display: inline-block;
}

.account-nav ul,
.main-navigation ul {
  list-style: none;
}

.app-body {
  background-color: var(--brand-white);
}

.app-footer {
  background-color: var(--brand-black);
}
